<%- include("../partials/header", { title }) %>

<h1><%= ad.title %></h1>

<p><%= ad.body %></p>

<p class="meta">
  Posted in <%= location.city_name %> by <%= ad.username %>
</p>

<a href="/<%= location.country_code %>/<%= location.slug %>/ads">
  Back to <%= location.city_name %> ads
</a>

<%- include("../partials/footer") %>

